<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>org.liang.store.web.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCategoryServlet</servlet-name>
        <servlet-class>org.liang.store.web.ViewCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductServlet</servlet-name>
        <servlet-class>org.liang.store.web.ViewProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewItemServlet</servlet-name>
        <servlet-class>org.liang.store.web.ViewItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <servlet-class>org.liang.store.web.AddItemToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemFromCartServlet</servlet-name>
        <servlet-class>org.liang.store.web.RemoveItemFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartQuantitiesServlet</servlet-name>
        <servlet-class>org.liang.store.web.UpdateCartQuantitiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>org.liang.store.web.SearchProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>org.liang.store.web.ViewCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignonFormServlet</servlet-name>
        <servlet-class>org.liang.store.web.SignonFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IfSignonServlet</servlet-name>
        <servlet-class>org.liang.store.web.IfSignonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToRegisterServlet</servlet-name>
        <servlet-class>org.liang.store.web.ToRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveAccountServlet</servlet-name>
        <servlet-class>org.liang.store.web.SaveAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <servlet-class>org.liang.store.web.SignOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToMyAccountServlet</servlet-name>
        <servlet-class>org.liang.store.web.ToMyAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>org.liang.store.web.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToCheckOutServlet</servlet-name>
        <servlet-class>org.liang.store.web.ToCheckOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ToCheckOutServlet</servlet-name>
        <url-pattern>/toCheckOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/updateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToMyAccountServlet</servlet-name>
        <url-pattern>/ToMyAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutServlet</servlet-name>
        <url-pattern>/signOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveAccountServlet</servlet-name>
        <url-pattern>/saveAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToRegisterServlet</servlet-name>
        <url-pattern>/toRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IfSignonServlet</servlet-name>
        <url-pattern>/ifSignon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignonFormServlet</servlet-name>
        <url-pattern>/signonForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/viewCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartQuantitiesServlet</servlet-name>
        <url-pattern>/updateCartQuantities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemFromCartServlet</servlet-name>
        <url-pattern>/removeItemFromCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <url-pattern>/addItemToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCategoryServlet</servlet-name>
        <url-pattern>/viewCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductServlet</servlet-name>
        <url-pattern>/viewProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewItemServlet</servlet-name>
        <url-pattern>/viewItem</url-pattern>
    </servlet-mapping>



</web-app>